.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler {
  border: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.dropdown-toggle::after {
  color: #bdc3c7; /* Light gray for better visibility */
}
.categories-bar {
  background-color: #003366; /* Dark blue for a sleek look */
  padding: 15px 20px; /* Increased padding for better touch interaction */
  text-align: center;
  color: #ffffff; /* White text */
  transition: background-color 0.5s ease; /* Smooth transition for background color change */
}

.slide-down {
  transform: translateY(0%);
}

.slide-up {
  transform: translateY(-100%);
}
.visibleOnScroll {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.hiddenOnScroll {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
